@import url("https://fonts.googleapis.com/css2?family=Grandstander&family=Open+Sans:wght@400;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

.HeaderColorBar {
  height: 4px;
  background-color: darkturquoise;
}

.Logo {
  margin: 12px;
  font-family: "Grandstander", cursive;
  font-size: 24px;
  font-weight: bold;
}

// Home

.Home-HeroSection {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    padding: 6px;
    background-color: darkturquoise;
  }
}
