@import url("https://fonts.googleapis.com/css2?family=Grandstander&family=Open+Sans:wght@400;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

.HeaderColorBar {
  height: 4px;
  background-color: darkturquoise;
}

.Logo {
  margin: 12px;
  font-family: "Grandstander", cursive;
  font-size: 24px;
  font-weight: bold;
}

// Home

.Home-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-HeroSection {
  margin: 80px 0 40px 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    padding: 6px;
    background-color: darkturquoise;
  }
}

.Home-HighlightsSection {
  display: flex;
  justify-content: space-around;
  width: 60vw;
}

// HighlightCard

.HighlightCard {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 8px #c8c5dc;
  border: 1px solid #9a94bf;
  border-radius: 10px;
  width: 15vw;
  padding: 20px;
}

.HighlightCard-Icon {
  color: darkslateblue;
}

.HighlightCard-Header {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 700;
}

.HighlightCard-Subtext {
  color: #333;
}
