@import url("https://fonts.googleapis.com/css2?family=Grandstander&family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

// HeaderFooter

.HeaderFooterColorBar {
  height: 4px;
  background-color: darkturquoise;
}

.Logo {
  margin: 12px;
  font-family: "Grandstander", cursive;
  font-size: 24px;
  font-weight: bold;
}

.Copyright {
  margin: 8px;
  text-align: center;
}

// Home

.Home-Container {
  padding: 240px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-HeroSection {
  margin-bottom: 80px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-HighlightsSection {
  display: flex;
  justify-content: space-around;
  width: 60vw;
}

.HighlightCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 8px #c8c5dc;
  border: 1px solid #9a94bf;
  border-radius: 10px;
  width: 15vw;
  padding: 20px;
}

.HighlightCard-Icon {
  color: darkslateblue;
}

.HighlightCard-Header {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 700;
}

.HighlightCard-Subtext {
  color: #333;
}

// Card Builder

.CardForm-Wrapper {
  margin: 32px;
}

.Modal-TitleBar {
  padding: 16px;
  border-bottom: 4px solid darkturquoise;
  display: flex;
  justify-content: space-between;
}

.Modal-Title {
  font-size: 18px;
  font-weight: 700;
}

.Modal-CloseButtonWrapper {
  padding: 4px;
}

.Modal-Section {
  padding: 16px;
}

.Modal-TableRow {
  padding: 16px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.CardPreview-Wrapper {
  margin: 32px;
  border: 1px solid #ccc;
  background-color: #ddd;
  width: 600px;
  box-shadow: 0px 2px 4px #aaa;
}

// Form Elements

.Form-InputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  width: 200px;
}

.Label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.Input {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 16px;
}
